.sample {color:royalblue; font-size: 28pt;}
.sample2 {color: blueviolet; font-size: 18pt; background-color: yellow;}
.sample3 {background-color: blue; position: absolute;
    animation: myframe 0.5s ease-in 1s infinite alternate both;}
@keyframes myframe {
    from {
      color: #66f;
      font-size: 20pt;
    }
    to {
      color: #f66;
      font-size: 24pt;
    }
  }

.sample4 { position: relative; top: 10px; right:10px; font-size: 36pt;}
.mybox {position:relative; width:200px; height:60px; border:15px solid #666666;}